# Corporate Sustainability

In [1]:
import pandas as pd
ghgp = pd.read_csv("ghgp_data_by_year.xlsx - Direct Emitters.csv")
ghgp.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,This data was reported to EPA by facilities as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All emissions data is presented in units of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,2020 Total reported direct emissions,2019 Total reported direct emissions,2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
3,1004377,110043803578,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.30,-96.54,...,504064,518680.25,653854,250497.5,221014.75,199011.75,241883.5,289953.25,204000,194000
4,1010040,110071159872,15-18565/15-18662,Hazard,KY,40701,1021 Tori Drive,PERRY COUNTY,37.27,-83.24,...,144097.5,NaN,125981.75,218699.25,141439.5,118204.5,225708.25,306680.75,348450.75,390393.5

In [2]:
refinitiv = pd.read_csv("CS216 Data from Refinitiv.xlsx - Sheet1.csv")
refinitiv.head()

,#NAME?,Company Common Name,TRBC Industry Name,Country of Headquarters,Country of Exchange,Company Market Cap,ESG Score,EBIT Margin - %,EBIT Margin - %.1,EBIT Margin - %.2,...,Quick Ratio,Quick Ratio.1,Quick Ratio.2,Quick Ratio.3,Quick Ratio.4,Quick Ratio.5,Quick Ratio.6,Quick Ratio.7,Quick Ratio.8,Quick Ratio.9
0,NaN,NaN,NaN,NaN,NaN,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,...,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023,22/3/2023
1,NaN,NaN,NaN,NaN,NaN,NaN,FY0,FY0,FY-1,FY-2,...,FY0,FY-1,FY-2,FY-3,FY-4,FY-5,FY-6,FY-7,FY-8,FY-9
2,DE.N,Deere & Co,Heavy Machinery & Vehicles,United States of America,United States of America,119.2963839,72.53285105,19.38519,19.3367,16.08329,...,0.60782,0.72409,0.7985,0.64867,0.63008,0.87919,0.74955,0.678,0.65234,0.58741
3,FTV.N,Fortive Corp,Industrial Machinery & Equipment,United States of America,United States of America,23.28992775,52.28061879,17.2563,15.82393,12.21733,...,0.71149,0.53896,1.3952,0.87924,1.18457,1.47051,1.32567,0.80937,0.91222,0.90884
4,ET.N,Energy Transfer LP,Oil & Gas Transportation Services,United States of America,United States of America,37.47553043,35.15829576,9.03912,13.07237,15.04338,...,0.92785,0.78662,0.77292,0.768,0.5449,1.09675,0.66566,0.76864,0.69909,0.72754